*{
    margin: 0;
    padding: 0;
    font-famil: sans-serif;
}
.banner{
    width: 100px;
    height: 100vh;
    background-image: linear-
    gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}